.Vinyl {
  position: relative;
  cursor: pointer;
  display: flex;
  margin: 3em 0;
  height: 15em;
  aspect-ratio: 1;
  border-radius: 100%;
  transition: transform 0.5s;
}
.drink {
  position: absolute;
  right: -0.4em;
  top: -0.6em;
  height: 5.5em;
  aspect-ratio: 1;
}
.Vinyl:hover {
  transform: scale(1.05);
}
.clicked > .inside-vinyl {
  animation: zoomIn 1s ease-in 4s;
}
.clicked .line,
.clicked .line2 {
  animation: wiggle 0.3s alternate infinite cubic-bezier(0, 0.93, 0.7, 0.55),
    zoomIn 1s ease-in 4s;
}
.clicked > .vinyl-center {
  animation: rotate 5s ease-in infinite, fadeOut 0.8s 4.2s;
}
.both-lines {
  position: absolute;
  height: 15em;
  aspect-ratio: 1;
  border-radius: 100%;
}
.both-lines2 {
  position: absolute;
  height: 15em;
  aspect-ratio: 1;
  border-radius: 100%;
  transform: rotate(180deg);
}
.inside-vinyl {
  height: 7em;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 4em solid rgb(19, 19, 19);
}
.vinyl-center {
  position: absolute;
  border: 4px solid black;
  border-radius: 100%;
  background-color: grey;
  height: calc(5em - 8px);
  width: calc(5em - 8px);
  top: 5em;
  left: 5em;
}
.line {
  position: absolute;
  top: 2.4em;
  left: 2.4em;
  height: 10em;
  aspect-ratio: 1;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 100%;
  clip: rect(0em 5em 5em 0em);
}
.line2 {
  position: absolute;
  height: 12em;
  top: 1.4em;
  left: 1.4em;
  aspect-ratio: 1;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 100%;
  clip: rect(0em 6em 6em 0em);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

@keyframes fadeOut {
  0% {
  }
  100% {
    opacity: 0;
  }
}

@keyframes wiggle {
  0% {
    transition: transform 2s;
    transform: scale(1);
  }
  100% {
    transition: transform 2s;
    transform: rotate(10deg) scale(1.01);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(3000%);
    opacity: 0;
  }
}
